pkgbase = splitvpn
	pkgdesc = Split-tunneling GUI client for OpenVPN (.ovpn) profiles, by IP/subnet or by application
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/mixa12344321/splitvpn
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-gobject
	depends = gtk3
	depends = openvpn
	depends = iproute2
	depends = iptables
	depends = util-linux
	depends = polkit
	source = splitvpn-0.2.1.tar.gz::https://github.com/mixa12344321/splitvpn/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = fbb40137886a939388199e25085f248a172a58c322e7023712dd8b12381f9097

pkgname = splitvpn
