pkgbase = splitvpn
	pkgdesc = Split-tunneling GUI client for OpenVPN (.ovpn) profiles, by IP/subnet or by application
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/mixa12344321/splitvpn
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-gobject
	depends = gtk3
	depends = openvpn
	depends = iproute2
	depends = iptables
	depends = util-linux
	depends = polkit
	source = splitvpn-0.2.0.tar.gz::https://github.com/mixa12344321/splitvpn/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = b2d99d8666f479317c759993953dff1a12d4661d468cfce887f767c2b1f80094

pkgname = splitvpn
